@import './base.css';

#app {
  max-width: calc(100vw - 2rem);
  margin: 0 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-accent, hsla(160, 100%, 37%, 1));
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* Transitions */
.v-enter-active,
.v-leave-active {
  transition: opacity 150ms linear;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}